<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
  {{ if .Param "math" }}
  {{ partialCached "math.html" . }}
  {{ end }}
</head>

<body class="dark">

  <div class="content">
    <header>
      {{ partial "header.html" . }}
    </header>

    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
  </div>

  <footer>
    {{ partial "footer.html" . }}
  </footer>

</body>

<script>

  function toggleTheme() {
    document.body.classList.toggle('light');
    document.body.classList.toggle('dark');
  }

</script>


</html>