{{ define "main" }}

{{/* Intro */}}

{{ partial "breadcrumbs.html" . }}

<div {{ if .Param "autonumber" }} class="autonumber" {{ end }}>

  <div class=" single-intro-container">

    {{/* Title and Summary */}}

    <h1 class="single-title">{{ .Title }}</h1>
    {{ with .Param "summary" }}
    <p class="single-summary">{{ . }}</p>
    {{ end }}

    {{/* Reading Time */}}

    <p class="single-readtime">
      {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{end}}

      {{ if .Param "readTime" }}
      -
      {{ .ReadingTime }} min
      {{end }}
    </p>

  </div>

  {{/* {{ .Params.tags }} */}}

  {{/* Table of Content */}}

  {{if .Param "toc" }}
  <aside class="toc">
    <p><strong>Table of contents</strong></p>
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  {{/* Actual document content */}}

  <div class="single-content">
    {{ .Content }}
    {{ partial "comments.html" . }}
  </div>

</div>

{{ end }}