:root {
  --content-primary-light: rgb(59, 50, 40); /*base00*/
  --content-secondary-light: rgb(126, 112, 90); /*base03*/
  --background-light: rgb(245, 238, 235); /*base07*/
  --code-background-light: rgb(233, 225, 221); /*base06*/
  --code-border-light: rgb(208, 200, 198); /*base05*/

  --content-primary-dark: rgb(245, 238, 235); /*base07*/
  --content-secondary-dark: rgb(184, 175, 173); /*base04*/
  --background-dark: rgb(59, 50, 40); /*base00*/
  --code-background-dark: rgb(83, 70, 54); /*base01*/
  --code-border-dark: rgb(100, 82, 64); /*base02*/
}
