:root {
  --content-primary-light: rgb(45, 45, 45); /*base00*/
  --content-secondary-light: rgb(116, 115, 105); /*base03*/
  --background-light: rgb(242, 240, 236); /*base07*/
  --code-background-light: rgb(232, 230, 223); /*base06*/
  --code-border-light: rgb(211, 208, 200); /*base05*/

  --content-primary-dark: rgb(242, 240, 236); /*base07*/
  --content-secondary-dark: rgb(160, 159, 147); /*base04*/
  --background-dark: rgb(45, 45, 45); /*base00*/
  --code-background-dark: rgb(57, 57, 57); /*base01*/
  --code-border-dark: rgb(81, 81, 81); /*base02*/
}
