:root {
  --content-primary-light: rgb(76, 79, 105);
  --content-secondary-light: rgb(108, 111, 133);
  --background-light: rgb(239, 241, 245);
  --code-background-light: rgb(230, 233, 239);
  --code-border-light: rgb(188, 192, 204);

  --content-primary-dark: rgb(198, 208, 245);
  --content-secondary-dark: rgb(165, 173, 206);
  --background-dark: rgb(48, 52, 70);
  --code-background-dark: rgb(41, 44, 60);
  --code-border-dark: rgb(81, 87, 109);
}
