:root {
  --content-primary-light: rgb(0, 0, 0);
  --content-secondary-light: rgb(0, 0, 0);
  --background-light: rgb(255, 255, 255);
  --code-background-light: rgb(255, 255, 255);
  --code-border-light: rgb(0, 0, 0);

  --content-primary-dark: rgb(255, 255, 255);
  --content-secondary-dark: rgb(255, 255, 255);
  --background-dark: rgb(0, 0, 0);
  --code-background-dark: rgb(0, 0, 0);
  --code-border-dark: rgb(255, 255, 255);
}
