:root {
    --content-primary: rgb(0, 0, 0);
    --content-secondary: rgb(0, 0, 0);
    --background: rgb(255, 255, 255);
    --code-background: rgb(255, 255, 255);
    --code-border: rgb(0, 0, 0);
}

.dark {
    --content-primary: rgb(255, 255, 255);
    --content-secondary: rgb(255, 255, 255);
    --background: rgb(0, 0, 0);
    --code-background: rgb(0, 0, 0);
    --code-border: rgb(255, 255, 255);
}