:root {
  --content-primary-light: rgb(60, 56, 54);
  --content-secondary-light: rgb(148, 133, 112);
  --background-light: rgb(251, 241, 199);
  --code-background-light: rgb(241, 231, 189);
  --code-border-light: rgb(178, 163, 142);

  --content-primary-dark: rgb(235, 219, 178);
  --content-secondary-dark: rgb(132, 122, 114);
  --background-dark: rgb(40, 40, 40);
  --code-background-dark: rgb(50, 50, 50);
  --code-border-dark: rgb(112, 102, 94);
}
