@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-Light.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-LightItalic.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata/Literata-SemiBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}