:root {
    --main-width: 900px;
    --main-padding: 1rem;
    --main-padding-bottom: 3rem;

    /* header settings */
    --header-top-gap: 2rem;
    --header-bottom-gap: 2rem;
    --header-menu-side-gap: .5rem;
    --header-menu-top-gap: 1rem;

    /* Typography */
    --h1-margin-top: 2rem;
    --h1-margin-bottom: 1.5rem;
    --h2-margin-top: 2rem;
    --h2-margin-bottom: 1.5rem;
    --hx-margin-top: 1.5rem;
    --hx-margin-bottom: 1rem;
    --p-margin-top: 1rem;
    --p-margin-bottom: 1rem;
    --code-margin-top: 2rem;
    --code-margin-bottom: 2rem;

    /* List indentation */
    --li-indent: 1.5rem;
    --ul-margin-top: 1rem;
    --ul-margin-bottom: 1rem;

    --toc-margin-top: 2rem;
    --toc-margin-bottom: 3rem;

    /* Code */
    --code-padding: 1.5rem;
    --code-border-radius: 10px;

    /* Social section */
    --social-icons-bottom-margin: 3rem;

    /* Footer */
    --footer-height: 3rem;

    /* Content */
    --content-height: calc(100vh - var(--footer-height));

    /* Theme */
    --content: rgb(30, 30, 30);
    --background: rgb(255, 255, 255);
    --code-background: rgb(249, 249, 249);
    --code-border: rgb(229, 229, 229);
}

.dark {
    --content: rgb(218, 218, 218);
    --background: rgb(30, 30, 30);
    --code-background: rgb(40, 40, 40);
    --code-border: rgb(60, 60, 60);
}

@media screen and (max-width: 1024px) {
    :root {
        --main-width: 750px;
        --header-top-gap: 1rem;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --header-top-gap: 1rem;
        --social-icons-bottom-margin: 0rem;
    }
}