{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
        <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
    </h1>

    <nav class="header-menu">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}

        {{ $isCurrentPage := eq (lower .name) (lower $currentPage.LinkTitle) }}

        <p class="small {{ if $isCurrentPage }} bold {{end}}">
            <a href="{{ .url }}" {{ if and (isset . "newTab" ) .newTab }}target="_blank" rel="noopener noreferrer" {{
                end }} {{ if $isCurrentPage }}aria-current="page"{{ end }}>
                /{{.name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </nav>

    {{ end }}

</div>