{{ if gt .TotalPages 1 }}
<div class="pagination">
    <div class="pagination-control">
        {{ if .HasPrev }}
        <a href="{{ .Prev.URL | absURL }}">
            prev
        </a>
        {{ end }}
    </div>
    <div class="page-number">
        <p>
            {{ .PageNumber }}/{{ .TotalPages }}
        </p>
    </div>
    <div class="pagination-control">
        {{ if .HasNext }}
        <a href="{{ .Next.URL | absURL }}">
            next
        </a>
        {{ end }}
    </div>
</div>
{{ end }}